@font-face {
  font-family: 'bluu_nexttitling';
  src:  url('./assets/BluuNext-Titling.ttf') format('truetype'),
  url('./assets/bluunext-titling.woff2') format('woff2'),
  url('./assets/bluunext-titling.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.bluu {
  font-family: 'bluu_nexttitling';
  color: #fff;
  display: inline-block;
}


html {
  background: #0a0a0a;
  font-size: 16px;
}

body {
  margin:0;
  overflow:auto;
  background: #0a0a0a;
  vertical-align: middle;
}

input, select { 
  font-size: 100%; 
}

/*main container*/

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  width: auto;
  align-content: center;
}

/*camera activation*/

#lens {
  background-image: url(./assets/lens-w.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain;
  height: -webkit-fill-available;
  max-height: 70vh;
  max-width: 60vw;
  width: -webkit-fill-available;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#startbutton {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    max-height: 150px;
    max-width: 150px;
    margin: auto;
    border-radius: 50%;
    background-color: #FF5733;
    cursor: pointer;
    text-align: center;
}

/*hide the file-select interface*/
input[type="file"] {
  display: none;
}


/*Image area*/

#hold-img {
  width: 50vw;
  max-width: 256px;
  height: auto;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

#output {
  width: -webkit-fill-available;
  height: auto;
  padding: 0;
}

.grid-manual {
  background-image: url(./assets/grid-manual.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain;
}

.grid-automatic {
  background-image: url(./assets/grid-automatic.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain;
}

.grid-notavailable {
  background-image: url(./assets/grid-na.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain;
}

.grid-wait {
  background-image: url(./assets/grid-wait.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain;
}


/*Slider for modes*/

#mode-selector {
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: row;
  display: flex;
  min-height: 10vh;
  min-width: 20vw;
  margin-bottom: 1rem;
}

#switchbox {
  text-align: center;
}

.switch {
  position: relative;
}

.switch input { 
  opacity: 0;
  width: 90px;
  height: 20px;
}

#check {
  vertical-align: middle !important;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90px;
  background-color: #c3c3c3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 16px;
  left: 2px;
  bottom: 1px;
  background-color: #0a0a0a;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c3c3c3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c3c3c3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}

.slider.round {
  border-radius: 6px;
}

.slider.round:before {
  border-radius: 6px;
}


.manual {
  width: 24px;
  height: 24px;
  margin: 1rem;
  background-image: url(./assets/manual.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain;
}

.automatic {
  width: 24px;
  height: 24px;
  margin: 1rem;
  background-image: url(./assets/automatic.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain;
}

/*password block*/

#pw-over {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  display: flex;
  color: white;
  top: 0;
  justify-items: center;
  text-align: center;
  background-color: #0a0a0a;
  bottom: 0;
  max-height: 100vh;
  width: 100vw;
  padding: 0 2rem 0 2rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

#pwop {
  height: 40px;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

#pwos {
  font-family: 'bluu_nexttitling';
  font-size: 24px;
  font-weight: 700;

  box-shadow: 0; /*this is very funny...*/
}


#blocker p {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  top: 25%;
  width: 50%;
  left: 25%;
  position: absolute;
  color: #fff;
  text-align: center;
  display: block;
}

input[type="password" i] {
  font-size: 24px;
}

/*animation for loading*/


.progress_bar {
  background: radial-gradient(#ffffff, #ff5733);
  background-size: 400% 400%;

  -webkit-animation: progress 5s ease infinite;
  -moz-animation: progress 5s ease infinite;
  animation: progress 5s ease infinite;
}

@-webkit-keyframes progress {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes progress {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes progress {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

/*orientation handling !DO NOT TOUCH*/

@media (orientation: portrait) { 
  #mode-selector {
    flex-direction: row;
  }
  #main {
    flex-direction: column;
  }
}

@media (orientation: landscape) { 
  #mode-selector {
    flex-direction: column;
  }
  #main {
    flex-direction: row;
  }
}


@media screen and (orientation: landscape)  {
  #mode-selector {
    flex-direction: column;
  }
  #main {
    flex-direction: row;
  }
}

@media screen and (orientation: portrait) {
  #mode-selector {
    flex-direction: row;
  }
  #main {
    flex-direction: column;
  }
}
